/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.register-btn {
    background: #e62b1e;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.hero {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/saylani-welfare/image/upload/v1767942807/assignment/assignment/1767942805_0_kmxbtn0w.png");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 65px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}
.hero-content {
    position: relative;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: bold;
}

.hero-content h1 span {
    color: #e62b1e;
}

.hero-content p {
    margin-top: 18px;
    font-size: 22px;
    line-height: 1.6;
}
